.header {
  height: 13.8vh;
  padding: 2.6vh 10.18vw;
  background-color: #fff;

  &__container {
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 165px;
    height: 50px;
  }

  &__image {
    object-fit: cover;
    width: 165px;
    height: 50px;
  }
}
